.morris-hover {
  position: absolute;
  z-index: 1000;
}

.morris-hover.morris-default-style {
  border-radius: 10px;
  padding: 6px;
  color: #666;
  background: rgba(255, 255, 255, 0.8);
  border: solid 2px rgba(230, 230, 230, 0.8);
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
}

.morris-hover.morris-default-style .morris-hover-row-label {
  font-weight: bold;
  margin: 0.25em 0;
}

.morris-hover.morris-default-style .morris-hover-point {
  white-space: nowrap;
  margin: 0.1em 0;
}

svg {
  width: 100%;
}

@font-face {
  font-family: "Diploma";
  src: url("/fonts/Diploma Regular.ttf?c10d34b40ee6be80112549e459a28b5c") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-Regular.ttf?ceb11275ab638627a64310000e9446ec) format("truetype");
}
* {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  user-zoom: none;
  font-family: "Montserrat", sans-serif;
}
*:focus, *:hover {
  outline: none;
}

html {
  scroll-behavior: smooth !important;
  font-family: "Montserrat", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background: #f8f9fc;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  background-image: url(/images/background.jpg?41f85da1bf2994a7df2269330ec51a80);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

footer {
  display: grid;
  place-items: center;
  padding: 2rem 10rem;
  background-color: rgba(92, 184, 92, 0.5);
}
footer #footer-logo {
  width: 10rem;
  height: 10rem;
  margin-bottom: 3rem;
}
footer #copyright {
  font-size: 12px;
  text-align: center;
  color: #181818;
}

.file-upload {
  display: block;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.file-upload .file-select {
  display: block;
  border: 2px solid #dce4ec;
  color: #34495e;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  text-align: left;
  background: #ffffff;
  overflow: hidden;
  position: relative;
  width: 100% !important;
}

.file-upload .file-select .file-select-button {
  background: #dce4ec;
  padding: 0 10px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}

.file-upload .file-select .file-select-name {
  line-height: 40px;
  display: inline-block;
  text-align: left;
  padding: 0 10px;
  width: auto;
}

.file-upload .file-select:hover {
  border-color: #34495e;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.file-upload .file-select:hover .file-select-button {
  background: #34495e;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.file-upload.active .file-select {
  border-color: #5cb85c;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.file-upload.active .file-select .file-select-button {
  background: #5cb85c;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.file-upload .file-select input[type=file] {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

.file-upload .file-select.file-select-disabled {
  opacity: 0.65;
}

.file-upload .file-select.file-select-disabled:hover {
  cursor: default;
  display: block;
  border: 2px solid #dce4ec;
  color: #34495e;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  margin-top: 5px;
  text-align: left;
  background: #ffffff;
  overflow: hidden;
  position: relative;
}

.file-upload .file-select.file-select-disabled:hover .file-select-button {
  background: #dce4ec;
  color: #666666;
  padding: 0 10px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}

.file-upload .file-select.file-select-disabled:hover .file-select-name {
  line-height: 40px;
  display: inline-block;
  padding: 0 10px;
}

.alert {
  border-radius: 0;
  color: #ffffff;
  position: fixed !important;
  bottom: 0;
  width: 15rem !important;
  right: 1rem;
  z-index: 9;
  font-size: 14px;
  transition: all 0.8s ease-in-out;
  -webkit-animation: slideLeft 0.8s ease-in-out 1;
          animation: slideLeft 0.8s ease-in-out 1;
  font-weight: normal;
}

@-webkit-keyframes slideLeft {
  0% {
    right: -20rem;
    opacity: 0;
  }
  100% {
    right: 1rem;
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    right: -20rem;
    opacity: 0;
  }
  100% {
    right: 1rem;
    opacity: 1;
  }
}
.fi {
  line-height: 0 !important;
  margin-top: 2.5px;
  font-size: 12px;
  display: inline-block;
}

#page-content-wrapper {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
  overflow-y: scroll;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99999;
  background-color: #ffffff;
}

#navbar-logo-brand {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  color: #181818;
}
#navbar-logo-brand #logo {
  width: 3rem;
  height: 3rem;
}
#navbar-logo-brand #system-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
}
#navbar-logo-brand #system-name span {
  font-family: "Diploma";
  font-size: 22px;
  color: #5cb85c;
}
#navbar-logo-brand #system-name small {
  display: block;
  font-family: "Montserrat";
  font-size: 14px;
  margin-top: -10px;
  color: #181818;
}

#navlink-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navlinks {
  margin-left: 10px;
}
.navlinks .active {
  color: #5cb85c !important;
  font-weight: 900;
}
.navlinks .navlinks-anchor {
  text-decoration: none;
  padding: 8px 16px;
  font-size: 14px;
  color: #181818;
  position: relative;
  transition: all 0.25s ease-in-out;
  color: #181818;
}
.navlinks .navlinks-anchor:hover {
  font-weight: 900;
}
.navlinks .navlinks-anchor:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #5cb85c;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-animation: scale 0.25s ease-in-out 1;
          animation: scale 0.25s ease-in-out 1;
}
@-webkit-keyframes scale {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}
@keyframes scale {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

#main {
  padding: 3rem 10rem;
  height: 100%;
}

#form-container-base {
  display: grid;
  place-items: center;
  padding: 2rem;
  position: relative;
}

#form-header {
  font-size: 30px;
  font-weight: 900;
}

.form-field,
.form-field-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline !important;
  margin-bottom: 1rem;
  position: relative;
}
.form-field .invalid-feedback,
.form-field-row .invalid-feedback {
  color: red;
  font-size: 12px;
  padding: 3px 0;
}
.form-field .is-invalid,
.form-field-row .is-invalid {
  border-color: red;
}
.form-field label,
.form-field-row label {
  display: block;
  font-size: 14px;
  color: #181818;
  margin-bottom: 5px;
}
.form-field input,
.form-field select,
.form-field #login-btn,
.form-field #send-reset-request-btn,
.form-field #back,
.form-field #resend-verification-email-btn,
.form-field .file-select,
.form-field #reset-password,
.form-field #refresh,
.form-field #resend-verification,
.form-field #create,
.form-field #activate,
.form-field-row input,
.form-field-row select,
.form-field-row #login-btn,
.form-field-row #send-reset-request-btn,
.form-field-row #back,
.form-field-row #resend-verification-email-btn,
.form-field-row .file-select,
.form-field-row #reset-password,
.form-field-row #refresh,
.form-field-row #resend-verification,
.form-field-row #create,
.form-field-row #activate {
  padding: 8px 1rem;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  width: 15rem;
  font-size: 14px;
  transition: all 0.25s ease-in-out;
}
.form-field input:focus,
.form-field select:focus,
.form-field #login-btn:focus,
.form-field #send-reset-request-btn:focus,
.form-field #back:focus,
.form-field #resend-verification-email-btn:focus,
.form-field .file-select:focus,
.form-field #reset-password:focus,
.form-field #refresh:focus,
.form-field #resend-verification:focus,
.form-field #create:focus,
.form-field #activate:focus,
.form-field-row input:focus,
.form-field-row select:focus,
.form-field-row #login-btn:focus,
.form-field-row #send-reset-request-btn:focus,
.form-field-row #back:focus,
.form-field-row #resend-verification-email-btn:focus,
.form-field-row .file-select:focus,
.form-field-row #reset-password:focus,
.form-field-row #refresh:focus,
.form-field-row #resend-verification:focus,
.form-field-row #create:focus,
.form-field-row #activate:focus {
  border-color: transparent;
  box-shadow: 0 0 0 5px rgba(92, 184, 92, 0.3);
}
.form-field #activate,
.form-field-row #activate {
  background-color: #5cb85c;
  border: 1px solid #5cb85c;
  color: #ffffff;
}
.form-field button,
.form-field-row button {
  border-color: transparent;
}
.form-field #resend-verification,
.form-field #create,
.form-field-row #resend-verification,
.form-field-row #create {
  background: #5cb85c;
  color: #ffffff;
  border: 0;
}
.form-field #refresh,
.form-field-row #refresh {
  width: auto !important;
  color: #5cb85c;
  text-decoration: none;
}
.form-field #refresh i,
.form-field-row #refresh i {
  padding-top: 2px;
  margin-right: 3px;
}
.form-field #refresh:hover,
.form-field-row #refresh:hover {
  background-color: #5cb85c !important;
  color: #ffffff;
  border: 1px solid #5cb85c;
}
.form-field #refresh:hover i,
.form-field-row #refresh:hover i {
  color: #ffffff;
}
.form-field .file-select,
.form-field-row .file-select {
  padding: 0;
}
.form-field select,
.form-field-row select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
}
.form-field select::after,
.form-field-row select::after {
  content: "\f11c";
  font-family: "uicons-regular-rounded" !important;
  color: #181818;
  display: block;
  position: absolute;
  top: 0;
  z-index: 99999999;
  right: 1rem;
  font-size: 22px;
  width: 1rem;
  height: 1rem;
  border: 1px solid red;
}
.form-field #login-btn,
.form-field #reset-password,
.form-field #send-reset-request-btn,
.form-field #back,
.form-field #resend-verification-email-btn,
.form-field-row #login-btn,
.form-field-row #reset-password,
.form-field-row #send-reset-request-btn,
.form-field-row #back,
.form-field-row #resend-verification-email-btn {
  background-color: #5cb85c;
  color: #ffffff;
  font-size: 14px;
}
.form-field #login-btn:hover,
.form-field #reset-password:hover,
.form-field #send-reset-request-btn:hover,
.form-field #back:hover,
.form-field #resend-verification-email-btn:hover,
.form-field-row #login-btn:hover,
.form-field-row #reset-password:hover,
.form-field-row #send-reset-request-btn:hover,
.form-field-row #back:hover,
.form-field-row #resend-verification-email-btn:hover {
  border-color: transparent;
  box-shadow: 0 0 0 5px rgba(92, 184, 92, 0.3);
}
.form-field #reset-password,
.form-field-row #reset-password {
  width: 100%;
  border: 0;
}
.form-field #back,
.form-field-row #back {
  width: auto;
  text-decoration: none;
  background-color: #ffffff;
  color: #181818;
}

.form-field-row {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.form-field-row #send-reset-request-btn,
.form-field-row #resend-verification-email-btn {
  width: 100% !important;
  margin-left: 10px;
}

#help-sec {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#help-sec a {
  font-size: 12px;
  text-decoration: none;
  margin-bottom: 3px;
}
#help-sec a:hover {
  color: #5cb85c !important;
}

#home-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 15rem;
  grid-gap: 4rem;
}

.content-header {
  margin-bottom: 1rem;
}
.content-header-text {
  font-size: 22px;
  color: #181818;
  font-weight: 900;
}

#main-content,
#aside-content {
  border: 0;
}

.aside-component {
  width: 100%;
  height: 10rem;
  background-color: #ffffff;
  margin-bottom: 1rem;
}

#enrollnow-container {
  background-image: url(/images/enrollnow.png?e18f5d4831ccaf0c2b50bda510983e94);
  background-position: center;
  background-size: cover;
  height: 25rem;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#enrollnow-school-logo {
  width: 5rem;
  height: 5rem;
  margin-bottom: 2rem;
}

#admission-text {
  font-family: "Montserrat";
  font-weight: 900;
  color: #181818;
}

#enroll-now-btn {
  padding: 12px 1rem;
  background: #10376b;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.25s ease-in-out;
}
#enroll-now-btn:hover {
  box-shadow: 0 0 0 5px rgba(16, 55, 107, 0.3);
}

#form-top-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#form-top-header #school-name {
  font-family: "Diploma";
  font-size: 25px;
  margin-top: 1rem;
}
#form-top-header #school-location {
  font-size: 13px;
  font-weight: 900;
}
#form-top-header #acadyear {
  font-size: 12px;
}

#enrollform-header {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 1rem;
  display: block;
}

#enrollment-form {
  background-color: #ffffff;
}

#enrollform-base {
  height: auto;
  width: 100%;
  padding: 3rem 5rem;
  border: 1px solid #d9d9d9;
}
#enrollform-base .form-field-row {
  align-items: flex-start;
  width: auto !important;
}
#enrollform-base .form-field-row div {
  margin-right: 1rem;
}
#enrollform-base hr {
  margin: 2rem 0;
}
#enrollform-base .form-field .btn-group {
  width: 100%;
  height: 2.75rem;
}
#enrollform-base .form-field .btn-group input {
  padding-top: 5px;
}

#submit-enrollment-application {
  padding: 8px 1rem;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  width: auto;
  font-size: 14px;
  transition: all 0.25s ease-in-out;
  background-color: #5cb85c;
  color: #ffffff;
}
#submit-enrollment-application:hover {
  border-color: transparent;
  box-shadow: 0 0 0 5px rgba(92, 184, 92, 0.3);
}

.form-info-header {
  margin: 1rem 0;
}
.form-info-header span {
  font-weight: 900;
}

.enrollment-form-field {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
.enrollment-form-field label {
  font-weight: 600;
}
.enrollment-form-field input,
.enrollment-form-field select {
  width: 100%;
}

#schooltype,
#studenttype,
#sex,
#addressstatus,
#yesCheck1,
#noCheck1,
#indigencyradio,
#modality,
#grade11,
#grade12,
#psastatus {
  width: 1rem !important;
  height: 1rem !important;
  padding: 0;
  border-radius: 50px !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.form-check {
  width: 100%;
  margin: 0;
  padding: 0;
}
.form-check div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.3rem;
}
.form-check div input {
  margin-top: -6px;
  margin-right: 5px;
}

#form-school-logo {
  width: 5rem;
  height: 5rem;
}

.ui-menu {
  background-color: #f8f9fc !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 5px !important;
  font-size: 8px;
  margin-top: 10px !important;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  max-height: 10rem;
}
.ui-menu .ui-menu-item {
  background-color: #ffffff !important;
  border-radius: 5px !important;
}
.ui-menu .ui-menu-item .ui-menu-item-wrapper {
  padding: 8px 10px !important;
  background-color: transparent;
  color: #181818;
  border: 0 !important;
}
.ui-menu .ui-menu-item .ui-menu-item-wrapper:hover {
  border: 0 !important;
  background-color: rgba(92, 184, 92, 0.5) !important;
}

.ui-datepicker-div {
  border-radius: 5px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05) !important;
  padding: 0 !important;
}
.ui-datepicker-div .ui-datepicker-header {
  background-color: #ffffff !important;
}

#enrollment-applications-container-base {
  width: 100%;
}

#enrollment-applications-container-base-header {
  font-size: 22px;
  font-weight: 900;
  padding: 0 2.4rem;
  margin-bottom: 1rem;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#enrollment-applications-container-base-header #enrolemt-application-updated-at {
  font-size: 14px !important;
  font-weight: normal;
}

#enrollment-table-container {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  position: relative;
}

#sort-div {
  border: 1px solid #d9d9d9;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin-bottom: 1rem;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0 !important;
}
#sort-div .btn {
  border: 0;
  background: transparent;
  border-radius: 0;
  width: 7rem;
  text-align: center;
  padding: 16px;
  position: relative;
}
#sort-div .btn:hover {
  color: #5cb85c;
}
#sort-div .btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
#sort-div .active-tab {
  color: #5cb85c !important;
  font-weight: 900;
}
#sort-div .active-tab::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 4px;
  border-radius: 2px 2px 0 0;
  display: block;
  background-color: #5cb85c;
}

#search-table {
  padding: 0 2.3rem !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.table {
  padding: 0 !important;
  width: inherit !important;
  background-color: #ffffff !important;
  border: 0 !important;
}
.table thead,
.table tr,
.table th {
  white-space: nowrap;
  border: 0 !important;
}
.table thead {
  border: 0 !important;
  background-color: whitesmoke !important;
  width: 100% !important;
}
.table thead tr th {
  padding: 10px !important;
  border: 0 !important;
  font-size: 14px !important;
}
.table tbody {
  border: 0;
  margin-top: 1rem !important;
  background-color: #ffffff !important;
}
.table tbody tr {
  padding: 0 !important;
  border-color: #d9d9d9 !important;
}
.table tbody tr td {
  padding-top: 19px;
  font-size: 14px !important;
  position: relative !important;
  padding: 14px !important;
  padding-bottom: 0 !important;
}
.table tbody tr td a {
  font-size: 14px !important;
}
.table tbody tr:hover {
  cursor: pointer;
}

#asa {
  font-size: 22px;
  font-weight: 900;
  display: block;
  margin-bottom: 1rem;
}

#activate-student-account-details {
  width: 100% !important;
}

.form-check-label {
  font-size: 14px;
}

#requirement-image {
  width: inherit !important;
  height: 100%;
}

#return-login-btn, #back {
  padding: 8px 1rem;
  border: 1px solid transparent;
  border-radius: 5px;
  width: 6.5rem !important;
  font-size: 14px;
  transition: all 0.25s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#return-login-btn:focus, #back:focus {
  border-color: transparent;
  box-shadow: 0 0 0 5px rgba(92, 184, 92, 0.3);
}

#return-login-btn, #back {
  background-color: #5cb85c;
  color: #ffffff;
  text-decoration: none;
}
